
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Center the app */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #020508, #00f2fe);
}

/* Card style */
.card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Title */
.card h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #4facfe;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: #5f6061;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #7e8a96;
}

/* Message */
.message {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

/* Links */
a {
  color: #4facfe;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}